
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Спасибо, что захотели решать уравнения симплекс методом именно тут)) 
        <br />
        @Html.ActionLink("Перейти на страницу, где вы можете начать решать необходимую вас задачу",
        "EnterData")
    </div>
</body>
</html>
